<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
I created this site to host some modules that I am going to develop and host SAAS based.  
There are three applications that is in scope for me.
<h3>Team</h3>
One is a team organizing application where a company can register and then that admin can create many users' profile as 
team/players. Each player will have some initial cost attached.  The managers can login and bid for the players.  The 
person put highest amount will get that player.  But there will be a budget associated with each manager.  Withing that
limit they can spend the money to form their team from the available players.

<h3>Poker</h3>  
This application is a planning poker for the agile projects.  Where a story can be added by the adming and the registered
users can login and pick a card as their story point estimate.  After every one voted the admin can choose a story point 
to the story. 

<h3>Planning board</h3>
This is just a page to create some story in a heirachical way.  Now story, task or bug can be defined and can be assigned
to whom ever registred for that company. 
</body>
</html>